<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>

    <%- include("partials/head.html") %>

</head>

<body>
    <%- include("partials/navigation.html") %>
    <div class="container my-40">
        <div class="row">
            <div class="col-lg-12">
                <ol class="uc-breadcrumb mb-32">
                    <li class="uc-breadcrumb_item">
                        <a href="/">Inicio</a>
                        <i class="uc-icon">keyboard_arrow_right</i>
                    </li>
                    <li class="uc-breadcrumb_item">
                        <a href="/servicios">Servicios</a>
                        <i class="uc-icon">keyboard_arrow_right</i>
                    </li>
                    <li class="uc-breadcrumb_item current">OMICS</li>
                </ol>
            </div>
        </div>
        <div class="uc-card card-type--horizontal card-border--top">
            <div class="uc-card_body--xl">
                <div class="h3 my-16">
                    Unidad de Secuenciación y Tecnologías Ómicas
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias autem est
                    eum illum ipsum laudantium maxime minus nobis odio officiis omnis perferendis quos reprehenderit
                    similique, suscipit vel voluptate.</p>
            </div>
        </div>
    </div>
    <div class="container mb-40">
        <div class="row">
            <div class="col-md-4">
                <ul class="nav uc-navbar-side uc-navbar-side-fit">
                    <li class="">
                        <a href="#" class="uc-navbar-side_label active"> Secuenciación capilar <i
                                class="uc-icon">keyboard_arrow_right</i></a>
                        <ul class="uc-navbar-side">
                            <li>
                                <a href="#"> Servicios <i
                                        class="uc-icon">keyboard_arrow_right</i></a>
                            </li>
                            <li>
                                <a href="#"> Equipos <i
                                        class="uc-icon">keyboard_arrow_right</i></a>
                            </li>                            
                        </ul>
                        <a href="#" class="uc-navbar-side_label"> Secuenciación Masiva <i
                            class="uc-icon">keyboard_arrow_right</i> </a>
                        <ul class="uc-navbar-side">
                            <li>
                                <a href="#"> Servicios <i
                                        class="uc-icon">keyboard_arrow_right</i></a>
                            </li>
                            <li>
                                <a href="#"> Equipos <i
                                        class="uc-icon">keyboard_arrow_right</i></a>
                            </li>     
                            <li>
                                <a href="#"> Términos y condiciones <i
                                        class="uc-icon">keyboard_arrow_right</i></a>
                            </li>                        
                        </ul>
                        <a href="#" class="uc-navbar-side_label"> Espectrometría de Masas <i
                            class="uc-icon">keyboard_arrow_right</i>
                        </a>
                        <ul class="uc-navbar-side">
                            <li>
                                <a href="#"> Servicios <i
                                        class="uc-icon">keyboard_arrow_right</i></a>
                            </li>
                            <li>
                                <a href="#"> Equipos <i
                                        class="uc-icon">keyboard_arrow_right</i></a>
                            </li>                            
                        </ul>
                        <a href="#" class="uc-navbar-side_label"> Recursos <i
                            class="uc-icon">keyboard_arrow_right</i></a>
                        <ul class="uc-navbar-side">
                            <li>
                                <a href="#"> Galerías <i class="uc-icon">keyboard_arrow_right</i></a>
                            </li>
                            <li>
                                <a href="#"> Publicaciones <i class="uc-icon">keyboard_arrow_right</i></a>
                            </li>
                            <li>
                                <a href="#"> Sitios de Interés <i class="uc-icon">keyboard_arrow_right</i></a>
                            </li>
                        </ul>
                    </li>                  
                </ul>
            </div>
            <div class="col-md-8">
                sadfhlsadflsdanfsdlnf
            </div>
        </div>
    </div>
    <%- include("partials/footer.html") %>
</body>

</html>