<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>

    <%- include("partials/head.html") %>

</head>

<body>
    <%- include("partials/navigation.html") %>
    <div class="container mt-40">
        <div class="container mb-80">
            <div class="heading-container mb-32">
                <h2>Testimonio Destacado</h2>
                <div class="uc-heading-decoration"></div>
            </div>
            <div class="uc-image-quote image-right my-40">
                <div class="row align-items-center">
                    <div class="col-md-5 order-last order-md-first">
                        <div class="uc-card">
                            <div class="uc-card_body--xl">
                                <a href="https://biologia.uc.cl/quienes-somos/direcciones/direccion-investigacion/" target="_blank" class="uc-tag tag-fixed">Rodrigo
                                    Gutiérrez</a>
                                <p class="uc-quote my-16">“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias autem est
                                    eum illum ipsum laudantium maxime minus nobis odio officiis omnis perferendis quos reprehenderit similique, suscipit
                                    vel voluptate”.</p>
                                <p class="no-margin"><b>Director de Investigación y Planificación</b></p>
                                <p class="gray no-margin"><i>Facultad Ciencias Biológicas</i></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="uc-image-quote_image"
                            style="background-image: url('https://biologia.uc.cl/media/2021/06/Rodrigo-Gutierrez2.jpg'); background-position: center;">
                        </div>
                    </div>
                </div>
            </div>
            <hr class="uc-hr my-28 my-80">
            <div class="heading-container mb-32">
                <h2>El equipo de las Plaformas UC</h2>
                <div class="uc-heading-decoration primary-decoration"></div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-32">
                    <div class="uc-card card-height--same"><img src="/img/carolina_oliu.jpg" alt="carolina_oliu_img"
                            class="card-img">
                        <div class="uc-card_body">
                            <h4>Carolina Oliú</h4>
                            <div class="uc-text-divider divider-primary my-12"></div>
                            <p>Coordinadora Ejecutiva</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-32">
                    <div class="uc-card card-height--same"><img src="/img/alex_cabrera.jpg" alt="alex_cabrera_img"
                            class="card-img">
                        <div class="uc-card_body">
                            <h4>Alex Cabrera</h4>
                            <div class="uc-text-divider divider-primary my-12"></div>
                            <p>Profesional Senior, <i>Citometría de Flujo</i></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-32">
                    <div class="uc-card card-height--same"><img src="/img/pamela_naulin.jpg" alt="pamela_naulin_img"
                            class="card-img">
                        <div class="uc-card_body">
                            <h4>Pamela Naulin</h4>
                            <div class="uc-text-divider divider-primary my-12"></div>
                            <p>Profesional Senior, <i>Experimentación Vegetal</i></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-32">
                    <div class="uc-card card-height--same"><img src="/img/andrea_leiva.jpg" alt="andrea_leiva_img"
                            class="card-img">
                        <div class="uc-card_body">
                            <h4>Andrea Leiva</h4>
                            <div class="uc-text-divider divider-primary my-12"></div>
                            <p>Profesional Senior, <i>Secuenciación y Tecnologías Ómicas</i></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-32">
                    <div class="uc-card card-height--same"><img src="/img/nicole_salgado.jpg" alt="nicole_salgado_img"
                            class="card-img">
                        <div class="uc-card_body">
                            <h4>Nicole Salgado</h4>
                            <div class="uc-text-divider divider-primary my-12"></div>
                            <p>Profesional Senior, <i>Microscopía Avanzada</i></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-32">
                    <div class="uc-card card-height--same"><img src="/img/leonardo_almonacid.jpg" alt="leonardo_almonacid_img"
                            class="card-img">
                        <div class="uc-card_body">
                            <h4>Leonardo Almonacid</h4>
                            <div class="uc-text-divider divider-primary my-12"></div>
                            <p>Profesional Senior, <i>Bioinformática y Biología Computacional</i></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-32">
                    <div class="uc-card card-height--same"><img src="img/sergio_bustos.jpg" alt="sergio_bustos_img"
                            class="card-img">
                        <div class="uc-card_body">
                            <h4>Sergio Bustos</h4>
                            <div class="uc-text-divider divider-primary my-12"></div>
                            <p>Profesional asistente, <i>Citometría de Flujo</i></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-32">
                    <div class="uc-card card-height--same"><img src="/img/gioconda_peralta.jpg" alt="gioconda_peralta_img"
                            class="card-img">
                        <div class="uc-card_body">
                            <h4>Gioconda Peralta</h4>
                            <div class="uc-text-divider divider-primary my-12"></div>
                            <p>Profesional asistente, <i>Secuenciación y Tecnologías Ómicas</i></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-32">
                    <div class="uc-card card-height--same"><img src="/img/loreto_carrasco.jpg" alt="loreto_carrasco_img"
                            class="card-img">
                        <div class="uc-card_body">
                            <h4>Loreto Carrasco</h4>
                            <div class="uc-text-divider divider-primary my-12"></div>
                            <p>Profesional asistente, <i>Secuenciación y Tecnologías Ómicas</i></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-32">
                    <div class="uc-card card-height--same"><img src="/img/jorge_cantero.jpg" alt="jorge_cantero_img"
                            class="card-img">
                        <div class="uc-card_body">
                            <h4>Jorge Cantero</h4>
                            <div class="uc-text-divider divider-primary my-12"></div>
                            <p>Profesional asistente, <i>Secuenciación y Tecnologías Ómicas</i></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-32">
                    <div class="uc-card card-height--same"><img src="/img/alejandro_munizaga.jpg" alt="alejandro_munizaga_img"
                            class="card-img">
                        <div class="uc-card_body">
                            <h4>Alejandro Munizaga</h4>
                            <div class="uc-text-divider divider-primary my-12"></div>
                            <p>Profesional asistente, <i>Microscopía Avanzada</i></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-32">
                    <div class="uc-card card-height--same"><img src="/img/fernanda_garate.jpg" alt="fernanda_garate_img"
                            class="card-img">
                        <div class="uc-card_body">
                            <h4>Fernanda Garate</h4>
                            <div class="uc-text-divider divider-primary my-12"></div>
                            <p>Profesional asistente, <i>Microscopía Avanzada</i></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-32">
                    <div class="uc-card card-height--same"><img src="/img/liseth_garibaldi.jpg" alt="liseth_garibaldi_img"
                            class="card-img">
                        <div class="uc-card_body">
                            <h4>Liseth Garibaldi</h4>
                            <div class="uc-text-divider divider-primary my-12"></div>
                            <p>Profesional asistente, <i>Microscopía Avanzada</i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <%- include("partials/footer.html") %>

</body>

</html>