<div class="row justify-content-center">
    <div class="col-lg-9">
        <div id="error-404" class="uc-card card-bg--gray">
            <div class="uc-card_body--xl">
                <div class="uc-subtitle">
                    <%= title %>
                </div>
                <div class="h1 mb-24">Lo sentimos, la página está en construcción.</div>
                <p>Actualmente la página que estás buscando no se encuentrá disponible, pero esperamos
                    lograr finalizarla pronto. </p>
                <a href="/" class="uc-link text-weight--medium">
                    Volver a la página de inicio <i class="uc-icon">keyboard_arrow_right</i></a>
            </div>
        </div>
    </div>

</div>